.howWeWork {
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
    flex-direction: column;
    background: radial-gradient(circle, #1d3a6a,  #061228);
  }
  
  .title {
    font-size: 3em;
    color: #f1f1f1;
    font-weight: 400;
    text-align: center;
  }