.services {
  display: flex;
  padding-top: 100px;
  align-items: center;
  flex-direction: column;
  background: radial-gradient(circle, #1d3a6a,  #061228);
  text-align: center;
}

.webImage {
  width: 298px;
  height: 193px;
  padding-bottom: 80px;
}

.services p {
  color: #f1f1f1;
  font-size: 1.5em;
  text-align: center;
  padding-bottom: 60px;
}

@media (min-width: 800px) {
  .services p {
    font-size: 2.5em;
  }
  .webImage {
    width: 596px;
    height: 386px;
  }
}

.textTitle {
  text-align: center;  
  top: 0;
  width: 100%;
  margin-top: 20px; /* Espaciado superior según sea necesario */
  font-size: 1.5rem; /* Tamaño de fuente según sea necesario */
  color: #fff; /* Color del texto */
  white-space: nowrap; /* Evita el salto de línea */
  overflow: hidden;
  animation: karaoke 3s infinite; /* 3s es la duración, puedes ajustar según tus preferencias */
  font-weight: bold; /* Aplicar negrita */
}


@keyframes karaoke {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

/* Services.module.css */

/* Services.module.css */

.slider {
  width: 60%;
  margin: 0 auto;
  overflow: hidden;
}

.slide-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
  position: relative;
}

.slide img {
  width: 60%;
  height: auto;
  border-radius: 10px; /* Ajusta el valor según el redondeo deseado */
  opacity: 0.3;
}

.slide-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; /* Ajusta el color del texto según el fondo de tus imágenes */
  text-align: center;
}

.slide-content h2 {
  margin-bottom: 10px;
  font-size: 40px;
}

.slide-content p {
  font-size: 20px;
}


/* Estilos para los botones */
button {
  padding: 10px 15px; /* Ajusta el relleno según sea necesario */
  font-size: 16px; /* Ajusta el tamaño de fuente según sea necesario */
  background-color:#061228; /* Color de fondo del botón */
  color: #fff; /* Color del texto del botón */
  border: none; /* Quita el borde del botón */
  border-radius: 5px; /* Ajusta el radio de borde según sea necesario */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  margin-right: 20px; /* Ajusta el margen derecho según sea necesario */
}

/* Estilos adicionales para resaltar el botón al pasar el ratón */
button:hover {
  background-color: #1d3a6a; /* Cambia el color de fondo al pasar el ratón */
}
