.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stepNumber {
  font-size: 5em;
  color: #f1f1f1;
  font-weight: 600;
}

.text {
  font-size: 2em;
  color: #f1f1f1;
  text-align: center;
}

.subText {
  font-size: 1.5em;
  color: #f1f1f1;
  text-align: center; /* Alinea el subtexto al centro si es necesario */
}
.additionalText {
  font-size: 1.5em;
  color: #f1f1f1;
  text-align: center; /* Alinea el subtexto al centro si es necesario */
}

.stepBorder {
  background-color: #356161;
  height: 6px;
  width: 60%;
}

.stepContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 800px) {
  .stepContainer {
    flex-direction: row;
    justify-content: center; /* Ajusta según sea necesario */
  }

  .stepNumber {
    padding-right: 40px;
  }

  .stepContent {
    display: flex;
    flex-direction: column;
    align-items: center; /* Ajusta según sea necesario */
  }

  .subText {
    margin-top: 5px; /* O ajusta según sea necesario para agregar espacio entre text y subText */
  }
}
